@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main main";
}
